body {
	margin: 0 20px 20px 20px;
	margin-left: 20px;
	font-family: "Amazon Ember", "Helvetica Neue", Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #cecece;
	text-align: left;
	background-color: #232f3e;
	min-width: 800px;
}

@-moz-document url-prefix() {
	body {
		min-width: auto;
	}
}

h1,
h2 {
	color: #FFF;
}

h2 {
	border-bottom: 1px solid #ff8c00;
}

table {
}

a {
	color: #FF8C00;
}


#regions {
	margin-top: 20px;
}

#accounts {
	margin-top: 20px;
}

input[type="text"] {
	color: black;
	border: 0;
	margin: 2px 4px 2px 0;
	height: 20px;
	padding: 4px;
	font-size: 14px;
}

input[name="color"] {
	width: 150px;
	border-right: 28px solid transparent;
}

.deleteButton {
	background-color: transparent;
	color: red;
	border: 1px solid red;
	display: inline-block;
	margin: 2px;
	vertical-align: middle;
	padding: 5px 10px;
	cursor: pointer;
}

.addButton {
	background-color: transparent;
	color: green;
	border: 1px solid green;
	display: inline-block;
	margin-top: 2px;
	vertical-align: middle;
	padding: 5px 10px;
	cursor: pointer;
}

.button {
	padding: 10px;
	border: 1px solid rgb(84, 91, 100);
	color: white;
	font-family: "Amazon Ember", "Helvetica Neue", Roboto, Arial, sans-serif;
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
}

.button-text {
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
