body {
	margin: 0 20px 20px 20px;
	margin-left: 20px;
	font-family: "Amazon Ember", "Helvetica Neue", Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #cecece;
	text-align: left;
	background-color: #232f3e;
	min-width: 800px;
}

@-moz-document url-prefix() {
	body {
		min-width: auto;
	}
}

h1,
h2 {
	color: #FFF;
}

h2 {
	border-bottom: 1px solid #ff8c00;
}

table {
}

a {
	color: #FF8C00;
}


#regions {
	margin-top: 20px;
}

.button {
	padding: 10px;
	border: 1px solid rgb(84, 91, 100);
	color: white;
	font-family: "Amazon Ember", "Helvetica Neue", Roboto, Arial, sans-serif;
	font-size: 14px;
	margin-right: 10px
}

.button-text {
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
